* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

a {
    text-decoration: none;
}

.btn {
    color: var(--Very-Dark-Cyan);
    background-color: #fff;
    border-color: #fff;
    font-weight: 700;
    font-family: "Open Sans";
}

.hud-btn {
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
    font-weight: 700;
    color: var(--Very-Dark-Cyan);
}

p:note(.first-p) {
    color: var(--Grayish-Blue);
}

.first-p {
    color: var(--Very-Dark-Cyan);
}

body {
    font-family: "Open Sans";
    background-image: url(images/bg-hero-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {}

footer {
    color: var(--Very-Pale-Cyan);
    background-color: var(--Very-Dark-Cyan);
}

footer p {
    color: var(--Very-Pale-Cyan);
}

footer input {
    outline: none;
    border: none;
}

footer button {
    width: 160px;
}

footer .logo-fixing {
    margin-top: 100px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    color: var(--Very-Pale-Cyan);
}

.social-container {
    width: 100vw;
}

.social-item {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.social-item img {
    box-sizing: content-box;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.main-logo {
    width: 100px;
}

.sudo {
    position: relative;
    left: 135px;
    top: -10px;
}

.rtb-co {
    position: relative;
    bottom: -100px;
    background-color: #fff;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
}

@media (min-width: 767px) {
    body {
        background-image: url(images/bg-hero-desktop.svg);
    }
    a.col-lg-12 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .main-logo {
        width: 245px;
    }
    p {
        font-size: 1.1rem;
    }
    .w-lg-1 {
        width: 595px;
    }
    .w-lg-2 {
        width: 490px;
    }
    .w-lg-3 {
        width: 300px;
    }
    .w-lg-4 {
        width: 550px;
    }
    .header-photo {
        width: 1020px;
    }
    .btn-lg-1 {
        width: 400px;
        text-align: center;
    }
    .fs-lg-5 {
        font-size: 4.5rem;
    }
    .sudo {
        left: 110px;
    }
    .ready-to-build {
        margin-right: auto !important;
        margin-left: auto !important;
        max-width: 800px;
    }
    section.testimoials img {
        width: 525px;
    }
    .form-sm {
        flex-direction: row !important;
    }
    footer .lh-base {
        width: 350px;
        font-size: .9rem;
    }
    .form-sm input {
        margin: 0 !important;
        width: 320px !important;
    }
    .form-sm button {
        width: 160px;
        height: 50px;
        margin-left: 3rem !important;
    }
    footer .logo-fixing {
        margin-top: 0;
    }
    .nav-link-container {
        margin-top: 130px;
    }
    .social-container {
        margin-top: 130px;
        width: auto;
    }
    .fixing-copy {
        margin-top: 135px;
    }
}